body{
    background-image:url("https://i.pinimg.com/originals/24/49/df/2449df41da01a489fdbddb3a30615a09.gif");
background-repeat: no-repeat;
background-size: cover;}
.box2{
    border: 10px solid black;
    margin: 5% 30% 5% 30%;
    padding: 3% 10% 2% 10%;
    background-color:grey;
    border-radius: 2.5em;
    background-image:url("https://i.pinimg.com/originals/33/71/ca/3371cac81793bd6ea61e65593dcf23cd.gif");
    background-repeat: no-repeat;
    background-size: cover;

}
.box2 input{
    border-radius: 1.1em;
    text-align: center;
}
.box2 :placeholder-shown{
    padding-left:0%;
}
.box label{
    text-align: bold;
}
button{
    margin-left: 40%;
    border-radius: 0.9em;
}
#id4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: initial;
    font-size:xx-large;
    margin: 20px 5% 10px 49%;
    color: white;
}